{% extends "!layout.html" %}

{% set reldelim1 = ' &gt;' %}

{% block extrahead %}


    <link rel="stylesheet" href="{{ pathto('_static/css/global.css', 1) }}" type="text/css" charset="utf-8" />

    <link rel="stylesheet" href="{{ pathto('_static/css/python.css', 1) }}" type="text/css" charset="utf-8" />


{% endblock %}


{% block relbar1 %}

    <div class="menu">
        <a href="{{ pathto('index.html', 1) }}">
            <img src="{{ pathto('_static/img/_home.png', 1) }}" />
        </a>
        <a href="{{ pathto('documentation.html', 1) }}">
            <img src="{{ pathto('_static/img/_documentacao.png', 1) }}" />
        </a>
        <a href="{{ pathto('download.html', 1) }}">
            <img src="{{ pathto('_static/img/_download.png', 1) }}" />
        </a>
        <a href="{{ pathto('getting_involved.html', 1) }}">
            <img src="{{ pathto('_static/img/_programando.png', 1) }}" />
        </a>
        <a href="{{ pathto('search.html', 1) }}">
            <img src="{{ pathto('_static/img/_busca.png', 1) }}" />
        </a>
    </div>

<div id="searchbox" style="display: none">
    <form class="search" action="{{ pathto('search') }}" method="get">
      <input type="text" name="q" class="text" />
      <input type="submit" value="{{ _('Go') }}" class="submit" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>

{% endblock %}

{% block footer %}{% endblock %}
{% block relbar2  %}{% endblock %}

